<div id="main">
	<div class="inner">
		<section>
		<!-- Form -->
		<h3>Новая доска</h3>
		<form method="post">
			<div class="row gtr-uniform">
				<div class="col-12">
					<input type="text" name="name" id="demo-name" value="" placeholder="Название" />
				</div>
				<div class="col-12">
					<input type="text" name="thematic" id="demo-desc" value="" placeholder="Тематика" />
				</div>
				<div class="col-12">
					<ul class="actions">
						<li><input type="submit" value="Создать" class="primary" /></li>
						<li><input type="reset" value="Отмена" /></li>
					</ul>
				</div>
			</div>
		</form>

		</section>
	</div>
</div>

