<div id="main">
	<div class="inner">
		<section>
			<!-- Form -->
			<header class="major">
				<h2>Добавление проекта</h2>
			</header>
			<form method="post" enctype="multipart/form-data">
				<div class="row gtr-uniform">

					<div class="col-12">
						<input type="hidden" name="blockId" id="blockId" value=@ViewData["blockId"] placeholder="blockId" />
					</div>

					<div class="col-12">
						<input type="text" name="name" id="demo-name" value="" placeholder="Название" />
					</div>
					<div class="col-12">
						<input type="text" name="text" id="demo-text" value="" placeholder="Текст" />
					</div>
					<div class="col-12">
						<input type="text" name="desc" id="demo-text" value="" placeholder="Описание" />
					</div>
					<!-- Изображение -->
					<div class="col-12">
						<label for="pict">Изображение:</label>
						<input id="pict" name="pict" type="file" class="form-control" />
					</div>
					<div class="col-12">
						<ul class="actions">
							<li><input type="submit" value="Сохранить" class="primary" /></li>
							<li><a href="javascript: history.go(-1)" class="button">Отмена</a></li>
						</ul>
					</div>
				</div>
			</form>
		</section>
	</div>
</div>